body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #94acf0, #51c79c)
  
}
.logo {
  width: 120px;
  height: 120px;
  object-fit: contain;  /* prevents distortion */
}
/* Full page wrapper */
.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Centered heading */
.app-heading {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
.logo {
    width: 80px;
    height: 80px;
}
}